table {
  width: 70em;
}

.mat-raised-button {
  margin: 1em;
}

.mat-header-cell, .mat-cell {
  text-align: center;
}

.mat-cell {
  padding-right: 1em;
}

.title-cell {
  text-align: left;
  width: 30em;
}

