<button mat-raised-button color="primary"   routerLink="/add">Add Post</button>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container  matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> UserId </th>
      <td mat-cell  *matCellDef="let element"> {{element?.userId}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell class="title-cell" *matCellDef="let element"> {{element?.title}} </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"  routerLink="/post/{{element?.id}}"> {{element?.id}} </td>
    </ng-container>
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef> Completed </th>
      <td mat-cell *matCellDef="let element"> {{element?.completed}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary"  routerLink="/post/{{element?.id}}">Details</button>
        <button mat-raised-button color="accent" routerLink="/edit/{{element?.id}}">Edit</button>
        <button mat-raised-button color="warn" id="delete_{{element?.id}}" (click)="deletePost($event)"
        >Delete</button>
      </td>
    </ng-container>
    <ng-container *ngIf="displayedColumns">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumns;" ></tr>
    </ng-container>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of posts">
  </mat-paginator>
</div>

